.container {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  .container input {
    display: block;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em;
  }
  
  .stream {
    width: 480px;
    height: 320px;
  }

  .remoteStream{
      border: 5px solid green;
      margin: 6px;
  }

  .local-stream{
      border: 5px solid blue;
      margin: 10px;
  }

  .remoteStream-container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .videoStream-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }